# Assignment - 1 : Logistic Regression

### AIM : The data set is related to heart disease. You have to develop the model i.e. whether a person is diagnosed with heart disease or not.

1. ### Importing all the important libraries

In [47]:
from sklearn.linear_model import LogisticRegression #Standard Library for Logistic Regression
%matplotlib inline 
# With this, matplotlib graphs will be included next to the code.
import matplotlib.pyplot as plt #Used for plotting graphs.
import pandas as pd #To use different features of pandas for making model.
import numpy as np #for mathematical purpose (Normal array lacks what we can do with numpy array).
from sklearn.preprocessing import OneHotEncoder,LabelEncoder #When we develop ML models, we require all input and output to be numeric.
# As a result if the given data contains categorical data , we have to encode it to numbers before making my model.
from sklearn.metrics import confusion_matrix # For checking the accuracy of our model
from sklearn.model_selection import train_test_split #For splitting Data into 2 parts .One for trining and other for testing.

2. ### Analysing and Cleaning the given data

In [48]:
df = pd.read_csv('heart_disease.csv') # storing data inside df
df.to_csv("heart_disease2.csv") # To still have the original Data
df #viewing the data
# After looking at the data, we came to know 2 things
# 1.The given data contains some columns with categorical values so we have to convert them to numeric values.
# 2.By using AHD column , we can tell whether a person has heart disease or not.So we will use this column to check 
# the accuracy of my model

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [49]:
df.shape #Dimension of the given data(row,column)

(303, 15)

In [50]:
df.dtypes #DataTypes of different columns
# sometimes dataframe contains only object type data for many columns as a result the size of DataFrame increases
# we have to convert object type value to respective datatype value(int,float etc) to make DataFrame more efficient
#In this case , The different columns already contains respective datatype so nothing to change here.

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [51]:
#Checking if my dataframe contains NA values 
df.isna().sum() #To find the count of NA values in different columns
#By looking at this we got to know that 'Ca' and 'Thal' contains NA values

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

#### We have 2 possible ways to remove NA values
1. To replace Na values with average value of the column
2. To remove the rows which cotains NA values
#### we will go with 1st way

1. #### To replace Na values with average value of the column

In [52]:
# By looking at Dataframe we can see that 'Ca' contains float type data so we can replace the NA value with the
# average float value.
mean = df["Ca"].mean() #To find the mean of the Column Ca

In [53]:
df["Ca"].fillna(value=mean,inplace=True) #Replacing the NA value with the mean value of Column

In [54]:
# By looking at Dataframe we can see that 'Thal' contains Object type data so in this case we can replace
# the NA value with the value which has the most frequency
val = df["Thal"].mode() # With the mode function , We can get the value with the most frequency in 'Thal'
print(val[0]) # To view that value

normal

In [55]:
df["Thal"].fillna(value=val[0],inplace=True) # Replace the NA value with 'val'(normal)

In [56]:
# Now we are going to check whether our dataframe still contains NA values or not
df.isna().sum() #To find the count of NA values in different columns
#Since there are no NA values , we can move on to the next step

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [57]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.000000,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.000000,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.000000,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.000000,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.000000,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.000000,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.000000,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.000000,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.000000,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.672241,normal,No

In [58]:
df.shape # to check if there is no change in dimension

(303, 15)

3. ### Converting Categorical data to numerical data for model creation

In [59]:
#we require all input and output to be numeric.
#And to convert this kind of categorical text data into model-understandable numerical data, we use the Label Encoder class
le = LabelEncoder() # Creating Object for Label Encoder
le_df = df #Convert the values to numeric for making model
le_df.AHD = le.fit_transform(le_df.AHD) # Update the value using Label Encoder

In [60]:
x = df.iloc[:,:-1]# To get all the values other than the resultant column (AHD)
print(x)
y = df.iloc[:,-1]# To get all the values of resultant column (AHD)
y

     Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope        Ca        Thal
0        0      2.3      3  0.000000       fixed
1        1      1.5      2  3.000000      normal
2        1      2.6      2  2.000000  reversable
3        0      3.5      3  0.000000      normal
4        0      1.4      1  0.000000      normal
..     ...      ...    ...       ...         ...
298      0      1.2      2  0.000000  reversable
299      0      3.4      2  2.000000  reversable
300      1      1.2      2  1.000000  reversable
301      0      0.0      2  1.000000      normal
302      0      0.0      1  0.672241      normal

[303 rows x 14 columns]

0      0
1      1
2      1
3      0
4      0
      ..
298    1
299    1
300    1
301    1
302    0
Name: AHD, Length: 303, dtype: int64

In [61]:
onehotencoder=OneHotEncoder() # To create object of OneHotEncoder
x=onehotencoder.fit_transform(x).toarray() #To transform the data and later convert to array to perform operations on it
x
# Why to do ?
# -> When we develop ML models, we require all input and output to be numeric.
# As a result if the given data contains categorical data , we have to encode it to numbers before making my model.
# The problem here is, since there are different numbers in the same column, the model will misunderstand the data to be in some kind of order, 0 < 1 < 2. But this isn’t the case at all. To overcome this problem, we use One Hot Encoder.
# What one hot encoding does is, it takes a column which has categorical data, which has been label encoded, and then splits the column into multiple columns. The numbers are replaced by 1s and 0s, depending on which column has what value.

array([[1., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

4. ### Perform Logistic Regression

In [62]:
def accuracy(y_true, y_pred): #Function used to calculate accuracy
    accuracy=np.sum(y_true==y_pred)/len(y_true)
    return accuracy


X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1234)#For splitting Data into 2 parts .One for trining and other for testing.
regressor = LogisticRegression().fit(X_train, y_train) #To create object of Logistic Regression and Fit X_train and y_train for model
predictions = regressor.predict(X_test) 
print("LR classification accuracy:", accuracy(y_test, predictions))  # To get accuracy of our model
cm=confusion_matrix(predictions, y_test)
print(cm)

LR classification accuracy: 0.8688524590163934
[[27  4]
 [ 4 26]]